<div class="main contact-new">
  <div class="container">
    <div class="contact-create">お問い合わせ</div>
    <div class="form contact-form">
      <div class="form-body">
       
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
       <%= form_with url:{controller: 'contacts', action: 'create'} do |f| %>
         <%= f.label :対象URLのページ %><br>
         <%= f.text_field :url %><br>
         <%= f.label :不具合を確認したゲームタイトル %><br>
         <%= f.text_field :title %><br>
         <%= f.label :不具合を確認したサービス名 %><br>
         <%= f.text_field :service %><br>
         <%= f.label :不具合を確認したときの操作手順 %><br>
         <%= f.text_field :operation %><br>
         <%= f.label :不具合の内容 %><br>
         <%= f.text_field :message %><br>
         <%= f.label :お名前 %><br>
         <%= f.text_field :name %><br>
         <%= f.label :Eメールアドレス %><br>
         <%= f.text_field :email %><br>
        <%= f.submit '送信' %>
      <% end %>
      </div>
    </div>
  </div>